@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.header {

    position: fixed;
    width: 100vw;
    height: auto;
    background-color: rgb(238, 161, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

.title {

    font-size: 2rem;
    font-weight:bold;
    margin: 1rem;
    padding: 0.5rem;
}

.logo {

    width: 10rem;
}